<!DOCTYPE html>
<html>

<head>
  <title>{{cropdict.name.upper()}}</title>
  <style>
    body {
      background-image: url('Images/agri.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
  </style>
  <div class="nav-wrapper">
    <h3 class="card-panel #ffd54f amber lighten-2 center valign-wrapper center"><a
        class="brand-logo  #ffd54f-text text-lighten-4" href="#"><img alt=""
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSWcPmWLXKLpwQ4OsntK2w3awcrcYrvJ12luA&usqp=CAU"
          height="100px" width="100px" class="responsive-img" />
        <span style="font-family:algerian;color:indigo">{{cropdict.name}}</span></a>
      </a></h3>
    <h3>

  </div>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Compiled and minified JavaScript -->
  <style>
    div.main {
      padding: 5px 50px 75px 50px;
    }

    span,
    img {
      vertical-align: middle;
    }

    .brand-logo>span,
    .brand-logo>img {
      vertical-align: middle;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body class="main">

  </div>

  </div>
  </div>
  <h5 style="font-family:Courier New"><b>Details of the Crop</b></h5>
  <div class="row">
    <div class="col s3">
      <a href="{{ url_for('main.crop_weather', crop='rice') }}" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTpro74v0rc9B9k1H5ZQL3j-fQz2sp0_8M5EQ&usqp=CAU"
                width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Weather</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="Rice_Irrigation.html" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTqtl1EgCoRGFdwYTVg00kK2CZTENc9qHMolQ&usqp=CAU"
                width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Irrigation</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="Rice.html" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="Images/rice20.png" width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Cultivation</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="Rice_Disease.html" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="Images/rice14.jpg" width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Diseases</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <a href="Rice_Pest.html" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="Images/rice15.png" width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Pests</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="Rice_Fertilizers.html" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="Images/rice16.jpg" width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Fertilizers</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="Rice_Seed.html" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="Images/rice17.png" width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Seed Details</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="https://economictimes.indiatimes.com/topic/paddy-crop" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="Images/rice18.jpg" width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Crop News</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <a href="Rice_Price.html" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="Images/rice19.png" width="65" height="65">
            </div>
            <div class="col s9">
              <span class="card-title">Crop Price</span>
            </div>
          </div>
        </div>
      </a>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        $('.slider').slider({ full_width: true });
      });
    </script>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>