<html>

<head>
    <title>Diseases</title>
</head>

<body style="text-align:center;background-color:#D1F2EB ;">
    <h1 style="font-family:algerian;background-color:#17A589;color:white">Diseases and Prevention Methods</h1>
    <img src="Images/rice1.jpg" alt="no image" width="1200" height="150">
    <br><br>
    <table align="center" style="width:50%;text-align:center;color:black;font-family:algerian;font-size: 20px;">
        <tr>
            <th>Serial Number</th>
            <th>Diseases</th>
            <th>Images</th>
        </tr>
        <tr>
            <td>1</td>
            <td>False smut</td>
            <td><img src="Images/rice5.jpg" alt="no image" width="200" height="150"></td>
        </tr>
        <tr>
            <td><br>2</td>
            <td><br>Bacterial blight</td>
            <td><br><img src="Images/rice4.jpg" alt="no image" width="200" height="150"></td>
        </tr>
        <tr>
            <td><br>3</td>
            <td><br>Bakanae</td>
            <td><br><img src="Images/rice6.jpg" alt="no image" width="200" height="150"></td>
        </tr>
        <tr>
            <td><br>4</td>
            <td><br>Blast (leaf and collar)</td>
            <td><br><img src="Images/rice7.jpg" alt="no image" width="200" height="150"></td>
        </tr>
    </table><br><br><br>
    <p style="text-align:left;font-family:algerian;color:Indigo;font-size: 20px">Preventive Measures</p>
    <table style="font-size: 20px;">
        <tr>
            <td>1. Use balanced amounts of plant nutrients, especially nitrogen.</td>
        </tr>
        <tr>
            <td>2. Ensure good drainage of fields (in conventionally flooded crops) and nurseries.</td>
        </tr>
        <tr>
            <td>3. Keep fields clean.</td>
        </tr>
        <tr>
            <td>4. Allow fallow fields to dry in order to suppress disease agents in the soil and plant residues.</td>
        </tr>
        <tr>
            <td>5. Where possible, perform conservation tillage and continuous rice cropping.</td>
        </tr>
        <tr>
            <td>6. Use moderate rates of Nitrogen.</td>
        </tr>
        <tr>
            <td>7. Use certified seeds.</td>
        </tr>
        <tr>
            <td>8. Seed treatment with fungicide.</td>
        </tr>
    </table>
    <br><br>
    <p style="font-family:algerian;color:Red">Click for Back</p>
    <a href="rice.html"><img src="Images/back.jpg" alt="no image" width="60" height="60"></a>
</body>

</html>